header {
    background: url(https://cdn.pixabay.com/photo/2017/03/31/22/51/quiz-2192590_960_720.jpg);
    background-size: cover;
    background-position: center;
    font-family: lato;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 30%;
}

h1, h3 {
    color: black;
    text-shadow: 1px 2px 5px rgba(233, 219, 219, 0.5);
    
}

h1 {
    font-weight: 600;
    font-size: 3.5em
}

hr {
    width: 400px;
    border-top: 1px solid rgba(233, 219, 219, 0.5);
    
}

.button-group a {
    color: white;
}

#createQuestion {
    width: 60%; 
    margin:20px auto;
}





